.livroR {
  float: right;
  width: 21%;
}

.cienciadedados {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.giphyembed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.pacotes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}